<%def stars(int)%>
  <%result = ""%>
  <%int.times do%>
    <%result += "⭐️"%>
  <%end%>
  <%result%>
<%end%>


<p style="color: green"><%= notice %></p>

<%= render @restaurant %>

<h1><strong>Reviews</strong></h1>
<h2>New Review</h2>

<div class="mx-5">
<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :rating, as: :range, input_html:{ min:"0", max:"5", oninput:"updateTextInput(this.value)"}%>
  <input type="text" id="textInput" value="">
  <%= f.input :content %>
  <%= f.submit "Submit review", class: "btn btn-primary" %>
<% end %>
</div>

<script>
function updateTextInput(val) {
          document.getElementById('textInput').value=val;
        }
</script>

<h2 class="mt-5">Reviews</h2>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item">
      <div class="row">
        <div class="col-1">
          <%= stars(review.rating)%>
        </div>
        <div class="col-11">
          <%= review.content%>
        </div>
      </div>
    </li>
  <% end %>
</ul>
<br>

<div>
  <button class="btn border-primary m-3"><%= link_to "Back to restaurants", restaurants_path %></button>
</div>
